@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    nord --default,
    coffee --prefersdark;
}

/** global styles */
html,
body {
  @apply h-full;
}

html {
  @apply bg-base-100 cursor-default motion-safe:scroll-smooth;
  font-family: "JetBrains Mono Variable", Courier, monospace;
}

h1,
h2,
h3,
code {
  font-family: "Montserrat Variable", Helvetica, sans-serif;
}

img,
video {
  @apply drop-shadow;
}

button,
code {
  @apply !rounded-none;
}

img {
  max-width: 100%;
  height: auto;
}

/** adds a hash to anchor elements */
a:is([id], [title]) {
  @apply before:text-muted hover:before:text-base-content no-underline before:content-["#_"] hover:underline;
}

/** the main container */
main {
  @apply px-8 py-16 md:col-span-3;
}

/** utilities */
@utility center {
  &:has(:only-child) {
    @apply grid grid-cols-1 place-items-center;
  }

  &:not(:only-child) {
    @apply flex flex-col items-center justify-center;
  }
}

@utility stack-x {
  @apply flex;
}

@utility stack-y {
  @apply flex flex-col;
}

@utility text-muted {
  @apply text-base-content/40 dark:text-base-content/20;
}
